@media (max-width: 600px) {
    #how-it-works > iframe {
      max-width: 560px;
      width: 100%;
    }
    }
    
    
    img {
      max-width:100%;
     margin-top:5%;
    }
    
    #page-wrapper {
     max-width:100%;
      position:absolute;
      
    }
    
    li {
      list-style: none;
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
    
    header {
    
      background-color: grey;
    }
    
    @media (max-width: 600px) {
      header {
        flex-wrap: wrap;
      }
    }
    
    nav {
      font-weight: 400;
    }
    
    .nav-link {
      font-size:30px;
      
    }
    
    @media (max-width: 650px) {
      nav {
        width: 100%;
        text-align: center ;
     
        
      }
      
      nav li {
        padding-bottom: 2px;
      }
    }
    nav > ul {
      display: flex ;
      flex-direction: row;
      justify-content: space-around;
    }
      
    
    @media (max-width: 650px) {
      nav > ul {
    
     flex-direction: column;
      }